
.nav-bar{
    position: absolute;
  top: 4%;
  right: 2%;
  color: black;
 
  cursor: pointer;
}
  .nav-bar ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
    word-spacing: 20px;
    border-radius: 10px;
    border-top-right-radius: inherit;
   border-bottom-left-radius: inherit;
    box-shadow: 2px 0px 10px rgb(0, 0, 0);
    
    display: flex;
  justify-content: space-between;

  
  
  }
  .nav-bar li {
    display:inline-block;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 18px;
   
  }
  .nav-bar a{
    color: rgb(16, 150, 31);
    text-decoration: none;
 
   

  }  
  .nav-bar:hover{
    width: 240px;
   
  }
  .profile  {
    
    position: absolute;
    top: 4%;
    left: 2%;
    list-style: none;
    margin: 0%;
    padding: 0%;
    border: 1px solid #04ff04;
    border-radius: 10px;
    border-top-right-radius: inherit;
   border-bottom-left-radius: inherit;
    box-shadow: 2px 0px 10px rgb(0, 0, 0);
    display: flex;
    
  }
  .profile li {
    list-style: none;
    color:rgb(16, 150, 31);
   
   
  }
  .profile a{
    
    color:  rgb(16, 150, 31);
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    transition: width 4s;
    
  }
  .profile:hover{
    width: 73px ;
    
    
  }
  h1{
    font-size: 32px;
  margin-bottom: 20px;
  margin-top: 1%;
  }
.logo{
  padding-top: 5%;
  image-resolution: 100%;
}
html {
  scroll-behavior:smooth;
  }
.loginf1 {
  
 height: 170px;
 width: 400px;
 border: 2px solid #26e226;
 border-radius: 20px;
 border-top-right-radius: inherit;
 border-bottom-left-radius: inherit;
 box-shadow: 10px 20px 40px rgb(0, 0, 0);
}
.loginf2 {
  color: #26e226;
  
}



.Aboutsection p{
 color: white;
 padding-left: 10%;
 padding-right: 10%;
 text-align: center;
 
}

  
  .menu-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 0px 10px rgb(0, 0, 0);
    width: 250px;
    margin: 20px;
    display: inline-block;
    }
    .menu-card img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
      }
      .menu-card h2 {
        font-size: 24px;
        margin-bottom: 10px;
        }
        .menu-card p {
          font-size: 18px;
          color: #666;
          margin-bottom: 20px;
          }
          
          .menu-card button {
          background-color: #4CAF50;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          }
          .menu-card button:hover {
            background-color: #3e8e41;
            }
            .contact-info {
              margin-bottom: 40px;
            }
            
            .contact-info p {
              font-size: 18px;
              margin-bottom: 10px;
            }
            .contact-form {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            
            .contact-form label {
              font-size: 18px;
              margin-bottom: 10px;
            }
            .contact-form input, .contact-form textarea {
              width: 25%;
              padding: 5px;
              margin-bottom: 20px;
              border: 1px solid #ccc;
              border-radius: 20%;
            }
            .contact-form button[type="submit"] {
              background-color: #4CAF50;
              color: #fff;
              padding: 10px 20px;
              border: none;
              border-radius: 5px;
              cursor: pointer;
            }
            
            .contact-form button[type="submit"]:hover {
              background-color: #3e8e41;
            }
           
            
            
            
            
          
      

    
    
    
 
  
  
  
  
  
  


  



  






 
